nav {
  background-color: #f2f2f2;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.navbar-brand {
  color: pink;
  font-weight: bold;
}

.gmap {
  position: ;
}

#map {
  margin-left: 3%;
  height: 85%;
  width: 65%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* dashboard styles */
.meetup{
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 10px;
}

.card{
  height: 350px;
}

.incoming{
  background-color: #B3C100;
}

.outgoing{
  background-color: #B7B8B6;
}

.accepted{
  background-color: #4CB5F5;
}

.btn-light{
  border-color: black;
}

/*profile styles*/

.nickname-form{
  width: 100px;
}

.address-form{
  width: 400px; 
}